<!DOCTYPE html>
<html>
  <head>
    <title>Technova Site</title>
  </head>
  <body>
    <div class="main">
      <h1>Edit Profile</h1>
      <h2>Edit your stuff</h2>
      <div class="signup">
        <form action="/profile/">
            <button type="submit">cancel</button>
          </form>
        <form action="/dashboard/">
          <button type="submit">DASHBOARD</button>
        </form>
        <form action="/logout/">
          <button type="submit">Logout</button>
        </form>
      </div>
    </div>
  </body>
</html>

