{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Unfold</title>
    <link rel="stylesheet" href="{% static 'main.css'%}" />
    <style>
      body {
        background-image: url("{% static 'background.png'%}");
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li><a href="/dashboard/" style="color:#6AD885">Home</a></li>
        <li><a href="" style="color:#6AB9D8">Direct Messages</a></li>
        <li><a href="/friends/" style="color:#B786D8">Friends</a></li>
        <li><a href="/groups/" style="color:#D8B26A">Groups</a></li>
        <li><a href="/profile/" style="color:#C65D82">My Profile</a></li>
        <li><a href="/settings/" style="color:#656565">Settings</a></li>
        <li><h3 style="margin-top: 480px;">@{{ request.user.username }}</h3></li>
      </ul>
    </div>
    <div class="main">
      <h1>Friends</h1>
      <h3>Add Friend</h3>
      <input type="text" name="username" placeholder="Search for friend...">&nbsp;
      <button type="submit">Enter</button><br /><br />

      <h2>Your Friends</h2>
      <h3>
      <!--friends go here, just loop through them with templating or whatever -->
      </h3>
      <h2>Friend Requests</h2>
      
        {% for request in all_requests %}
          <h3><b>{{ request.from_user }}</b></h3>
          <form action="" method="POST"></form>
            {% csrf_token %}
            <a href="/friends/request_accepted/{{ request.from_user.username }}>/">Accept Request</a>
          </form>
          {{ message }}
        {% endfor %}
        <br /><br />

      <h2>Your Friends</h2>
      <h3>
        {% for friend in request.user.friends.all %}
          {{ friend.username }}
        {% endfor %}
      </h3>

      <div class="signup">
        <form action="/dashboard/">
          <button type="submit">DASHBOARD</button>
        </form>
        <form action="/logout/">
          <button type="submit">Logout</button>
        </form>
      </div>
    </div>
  </body>
</html>