<!DOCTYPE html>
<head><h1>
    Friends
</h1></head>
<body>
    <h3>Add Friend</h3>
    <input type="text" name="username" placeholder="Search for friend...">&nbsp;
    <button type="submit">Enter</button><br /><br />

    <h2>Friend Requests</h2>
    <form action="" method="POST">
      {% csrf_token %}
      {% for request in friend_request %}
        <h3>{{ request.from_user }}</h3>
        <a href="/friends/request_accepted/{{ request.id }}/">Accept Request</a>
        {{ message }}
      {% endfor %}
    </form>

    <h2>Your Friends</h2>
    <h3>
      {% for friend in request.user.friends.all %}
        {{ friend.username }}
      {% endfor %}
    </h3>

    <div class="signup">
      <form action="/dashboard/">
        <button type="submit">DASHBOARD</button>
      </form>
      <form action="/logout/">
        <button type="submit">Logout</button>
      </form>
    </div>
</body>
</html>