{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Technova Site</title>
    <link rel="stylesheet" href="{% static 'main.css'%}" />
    <style>
      body {
        background-image: url("{% static 'background.png'%}");
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li><a href="/dashboard/" style="color:#6AD885">Home</a></li>
        <li><a href="" style="color:#6AB9D8">Direct Messages</a></li>
        <li><a href="/friends/" style="color:#B786D8">Friends</a></li>
        <li><a href="/groups/" style="color:#D8B26A">Groups</a></li>
        <li><a href="/profile/" style="color:#C65D82">My Profile</a></li>
        <li><a href="/settings/" style="color:#656565">Settings</a></li>
        <li><h3 style="margin-top: 480px;">@{{ request.user.username }}</h3></li>
      </ul>
    </div>
    <div class="main">
      <h1>MY GROUPS</h1>
      <form action="/groups/">
        <button type="submit">Create group</button>
      </form>
      <form action="/profile/">
        <button type="submit">My Profile</button>
      </form>
      <form action="/logout/">
        <button type="submit">Logout</button>
      </form>
    </div>
  </body>
</html>
