<!DOCTYPE html>
<html>
  <head>
    <title>Technova Site</title>
  </head>
  <body>
    <div class="main">
      <h1>My Profile</h1>
      <img width="100" height="100" src="{{user_profile.avatar.url}}" />
      <h2>{{ request.user.username }}</h2>
      <div class="signup">
        <form action="/dashboard/">
          <button type="submit">DASHBOARD</button>
        </form>
        <form action="/logout/">
          <button type="submit">Logout</button>
        </form>
      </div>
    </div>
  </body>
</html>
