{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Unfold</title>
    <link rel="stylesheet" href="{% static 'main.css'%}" />
    <style>
      body {
        background-image: url("{% static 'background.png'%}");
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li><a href="/dashboard/" style="color:#6AD885">Home</a></li>
        <li><a href="" style="color:#6AB9D8">Direct Messages</a></li>
        <li><a href="/friends/" style="color:#B786D8">Friends</a></li>
        <li><a href="/groups/" style="color:#D8B26A">Groups</a></li>
        <li><a href="/profile/" style="color:#C65D82">My Profile</a></li>
        <li><a href="/settings/" style="color:#656565">Settings</a></li>
        <li><h3 style="margin-top: 480px">@{{ request.user.username }}</h3></li>
      </ul>
    </div>
    <div class="main">
      <h3>My Profile</h3>
      <img
        width="100"
        height="100"
        border-radius="100px"
        src="{{user_profile.avatar.url}}"
      />
      <h2>{{ request.user.username }}</h2>
      {% for mystatus in mystatuses %}
      <div class="block">
        <div style="display: inline-block; height: 50px;">
          <img src="{{mystatus.mood_icon.url}}"style="float: left; width: 50px; height: 50px;"/>
          <h4 style="float: right; margin-top: 10px; margin-left: 10px;">{{mystatus.user}}</h4>
        </div>
        <h5>{{mystatus.message}}</h5>
        <h5 style="font-size: 13px; margin-bottom: -20px; margin-top: -20px;">{{mystatus.created_at}}</h4>
      </div>
      <br />
      {% endfor %}
      <br /><br />
      <div class="signup"></div>
    </div>
  </body>
</html>
