{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Technova Site</title>
    <link rel="stylesheet" href="{% static 'main.css'%}" />
    <style>
      body {
        background-image: url("{% static 'background.png'%}");
      }
    </style>
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <li><a href="/dashboard/">Home</a></li>
        <li><a href="">Direct Messages</a></li>
        <li><a href="/friends/">Friends</a></li>
        <li><a href="/groups/">Groups</a></li>
        <li><a href="/profile/">My Profile</a></li>
        <li><a href="/settings/">Settings</a></li>
        <li><h3 style="margin-top: 480px">@{{ request.user.username }}</h3></li>
      </ul>
    </div>
    <div class="main">
      <h3>My Profile</h3>
      <img
        width="100"
        height="100"
        border-radius="100px"
        src="{{user_profile.avatar.url}}"
      />
      <h2>{{ request.user.username }}</h2>

      <br /><br />
      <div class="signup"></div>
    </div>
  </body>
</html>
