{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Technova Site</title>
    <link rel="stylesheet" href="{% static 'main.css'%}" />
    <style>
      body {
        background-image: url("{% static 'background.png'%}");
      }
    </style>
  </head>
  <body>
    <div class="main">
      <img src="{% static 'logo.png'%}" alt="Unfold" class="logo">
      <div class="login">
        <form action="" method="POST">
          {% csrf_token %}
          <h2>Create Account</h2>
          <h3>Username</h3>
          <input type="text" id="fname" name="username" required/><br /><br />
          <h3>Email</h3>
          <input type="text" id="fname" name="email" required/><br /><br />
          <h3>Password</h3>
          <input type="password" id="fname" name="password" required/><br /><br />
          <h3>Confirm Password</h3>
          <input type="password" id="fname" name="password_confirm" required/><br /><br />
          <button type="submit">Create Account</button>
        </form>
        <form action="/login/">
          <button type="submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>
