<!doctype html>
<html>
<head>
<title>Technova Site</title>
<link rel="stylesheet" href=".\main.css">
</head>
<body>
  <div class="main">
  <h1>Website Name</h1>
  <div class="login">
    <form action="/action_page.php">
      <h2>Login</h2>
      <h3>Username</h3>
      <input type="text" id="fname" name="fname"><br><br>
      <h3>Password</h3>
      <input type="text" id="fname" name="fname"><br><br>
      <button type="button">Log In</button>
      <h3 style=text-align:center;>Create Account</h3>
    </form>
  </div>
  </div>
</body>
</html>